
/* Background slideshow */
.background-slideshow {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  overflow: hidden;
  background-color: #d40ae0; /* Updated to match the body background color */
}

.bg-slide {
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center;
  transition: opacity 3s ease-in-out;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.08); /* Reduced opacity from 0.2 to 0.08 */
  backdrop-filter: blur(1.5px);
}
