
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 280 50% 3%;
    --foreground: 280 10% 98%;
    --card: 280 50% 5%;
    --card-foreground: 280 10% 98%;
    --popover: 280 45% 6%;
    --popover-foreground: 280 10% 98%;
    --primary: 316 73% 52%;
    --primary-foreground: 280 10% 98%;
    --secondary: 280 50% 8%;
    --secondary-foreground: 280 10% 98%;
    --muted: 280 50% 12%;
    --muted-foreground: 280 10% 60%;
    --accent: 311 90% 60%;
    --accent-foreground: 280 10% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 280 10% 98%;
    --border: 280 50% 15%;
    --input: 280 50% 15%;
    --ring: 316 73% 52%;
    --radius: 1rem;
  }

  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground antialiased;
  }
}

